.form {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}

.form__fieldset{
    flex-grow:1;
    flex-basis: 40%;
    border-radius: 3px;
    background-color: rgba(110,165,220,.2);
}

.form__input, .form__select {
    font-size: .8em;
}

.form--employee {
	font-size: .8rem;
	width: 67vw;
	margin: 0 auto;
}

.form--employee .form__fieldset {

}

.form--employee .form__legend {
	color: rgb(110, 165, 220);
	padding: 0 .618rem;
	background-color: rgba(220,220, 220, .9);
	border-radius: 2px;
}

.form__select {

}